<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title a home for some of my projects ~ Rubén Vara
    link(rel="stylesheet" href="style.styl")
  body
    main
      h1 A home for some of my projects
      #projects
        article
          h2
            a(href="/bulk-color-converter/") Bulk HSL color converter
          p Written in pug, scss and vanilla JS. Built with Parcel.
          .tags
            span.pug Pug
            span.sass SCSS
            span.js Vanilla JS
            span Parcel
          .github
            a(href="https://github.com/rubenvar/bulk-color-converter")
              include github
        article
          h2
            a(href="https://my-life-in-weeks.netlify.app/") My Life in Weeks
          p A visual representation of your life, in weeks: Set your birth date and your expected life length.
          p Written in Svelte. Compiled with Rollup. Hosted on Netlify.
          .tags
            span.svelte Svelte
            span Rollup
            span.netlify Netlify
          .github
            a(href="https://github.com/rubenvar/my-life-in-weeks")
              include github
      #npm
        h2 Y los 
          span#npm-title
          |  
          em packages 
          |que tengo publicados en npm
        #npm-packages
    script(src="scripts.js")