:root
  --accent #ffcf00
  --accent-light #ffdc44
  --secondary #345
  --grey-dark #4a4a4a
  --grey #a3a3a3
  --grey-light #dadada

  --br 5px
  --card-br 15px

  --svelte #ff3e00
  --rollup #ff3333
  --netlify #099eba
  --vanillajs #f0db4f
  --vanillajs-front #323330
  --scss #bf4080
  --pug #a86454
  --parcel #21374b
  --nodejs #026e00
  --express #259dff
  --mongodb #13aa52
  --mongoose #880000
  --webpack #5299c7
  --awslambda #ff9901
  --digitalocean #0080ff
  box-sizing border-box
*, ::before, ::after
  box-sizing inherit
  padding 0
  margin 0
html
  font-family Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
  font-size 14px
  @media screen and (min-width 720px)
    font-size 18px
main, .wrapper
  width 720px
  max-width calc(100% - 29px)
  padding 40px 0 120px
  margin 0 auto
h1
  margin-bottom 4rem
  font-size 2rem
  text-align center
  color var(--secondary)
  position relative
  &::after
    transition all 0.3s
    content ''
    display block
    width 95%
    height 120%
    top 0
    left 0
    transform translateX(5px) translateY(-2.4px) rotate(-1.23deg) skewX(2deg)
    background-color var(--accent)
    position absolute
    border-radius 3px
    z-index -1
  &:hover
    &::after
      transform translateX(5px) translateY(-2.4px) rotate(-0.76deg) skewX(-3deg)
a
  transition all 0.25s
#view
  margin 20px auto

#projects
  &.list
    display flex
    flex-direction column
  &.grid
    display grid
    grid-template-columns repeat(2, 1fr)
  gap 50px
  article
    border-radius var(--card-br)
    padding 18px
    box-shadow 0 1px 23px 0px rgba(0,0,0,0.21), 0 0 5px 0px rgba(0,0,0,0.13)
    position relative
    h2
      font-size 1.4rem
      margin-bottom 1.2rem
      color var(--secondary)
      a
        text-decoration: none
        color var(--accent)
        position relative
        &::after
          transition all 0.3s
          content ''
          display block
          width 105%
          height 120%
          top 0
          left 0
          transform translateX(-5px) translateY(-2.4px) rotate(1.23deg) skewX(-2deg)
          background-color var(--secondary)
          position absolute
          border-radius 3px
          z-index -1
        &:hover
          color var(--accent-light)
          &::after
            transform translateX(-8px) translateY(0.6px) rotate(-2deg) skewX(3deg)
    p
      margin-bottom 1rem
      color var(--grey)
    .tech
      p.boss
        cursor pointer
        transition all 0.3s
        display table
        &[hidden]
          display none
        &:hover
          color var(--grey-light)
      p:not(.boss)
        font-family monospace
        font-size 0.9rem
        line-height 1.3rem
      &.hide
        p:not(.boss)
          display none
    .tags
      margin-top 2.2rem
      display flex
      flex-wrap wrap
      gap 12px
      span
        display flex
        gap 10px
        align-items center
        line-height 1
        font-size 0.7rem
        background-color var(--grey-light)
        color var(--grey-dark)
        padding 4px 6px
        border-radius var(--br)
        &::before
          content ''
          width 9px
          height 9px
          border-radius 50%
          display block
        &.vanillajs
          &::before
            background-color var(--vanillajs)
        &.scss
          &::before
            background-color var(--scss)
        &.pug
          &::before
            background-color var(--pug)
        &.parcel
          &::before
            background-color var(--parcel)
        &.svelte
          &::before
            background-color: var(--svelte)
        &.rollup
          &::before
            background-color: var(--rollup)
        &.netlify
          &::before
            background-color: var(--netlify)
        &.nodejs
          &::before
            background-color: var(--nodejs)
        &.express
          &::before
            background-color: var(--express)
        &.mongodb
          &::before
            background-color: var(--mongodb)
        &.mongoose
          &::before
            background-color: var(--mongoose)
        &.webpack
          &::before
            background-color: var(--webpack)
        &.awslambda
          &::before
            background-color: var(--awslambda)
        &.digitalocean
          &::before
            background-color: var(--digitalocean)
    .github
      position absolute
      top 18px
      right 18px
      a
        justify-self: start
        line-height 0
        svg
          height 2rem
          width 2rem
          background-color var(--grey)
          stroke white
          border-radius 50%
          padding 4px
          transition all 0.3s
      &:hover
        svg
          stroke var(--grey-light)

footer
  padding 2.2rem 0 1.6rem
  // background-color var(--vanillajs-front)
  text-align center
  .wrapper
    padding 0
    a
      text-decoration none
      color var(--secondary)
      border-radius var(--br)
      padding 2px 5px
      line-height 1
      &:hover
        color var(--accent)
        background-color var(--secondary)