:root
  --accent #ffcf00
  --accent-light #ffdc44
  --secondary #345

  --br 5px
  --card-br 15px

  --svelte #ff3e00
  --rollup #ff3333
  --netlify #099eba
  --vanillajs #f0db4f
  --vanillajs-front #323330
  --scss #bf4080
  --pug #a86454
  --parcel #21374b
  --nodejs #026e00
  --express #259dff
  --mongodb #13aa52
  --mongoose #880000
  --webpack #5299c7
  box-sizing border-box
*, ::before, ::after
  box-sizing inherit
  padding 0
  margin 0
html
  font-family Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
  font-size 18px
main, .wrapper
  width 720px
  max-width calc(100% - 29px)
  padding 40px 14.5px 120px
  margin 0 auto
h1
  margin-bottom 70px
  font-size 2rem
  text-align center
  color var(--secondary)
  position relative
  &::after
    transition all 0.3s
    content ''
    display block
    width 95%
    height 120%
    top 0
    left 0
    transform translateX(5px) translateY(-2.4px) rotate(-1.23deg) skewX(2deg)
    background-color var(--accent)
    position absolute
    border-radius 3px
    z-index -1
  &:hover
    &::after
      transform translateX(5px) translateY(-2.4px) rotate(-0.76deg) skewX(-3deg)
a
  transition all 0.25s

#projects
  display flex
  flex-direction column
  gap 50px
  article
    border-radius var(--card-br)
    padding 18px
    box-shadow 0 1px 23px 0px rgba(0,0,0,0.21), 0 0 5px 0px rgba(0,0,0,0.13)
    position relative
    h2
      font-size 1.4rem
      margin-bottom 20px
      a
        text-decoration: none
        color var(--accent)
        position relative
        &::after
          transition all 0.3s
          content ''
          display block
          width 105%
          height 120%
          top 0
          left 0
          transform translateX(-5px) translateY(-2.4px) rotate(1.23deg) skewX(-2deg)
          background-color var(--secondary)
          position absolute
          border-radius 3px
          z-index -1
        &:hover
          color var(--accent-light)
          &::after
            transform translateX(-8px) translateY(0.6px) rotate(-2deg) skewX(3deg)
    > p
      margin-bottom 18px
      color grey
    .tags
      margin-top 40px
      font-size 0.8rem
      display flex
      gap 12px
      span
        display flex
        gap 10px
        align-items center
        line-height 1
        background lightgrey
        color grey
        padding 4px 6px
        border-radius var(--br)
        &::before
          content ''
          width 9px
          height 9px
          border-radius 50%
          display block
        &.vanillajs
          &::before
            background-color var(--vanillajs)
        &.scss
          &::before
            background-color var(--scss)
        &.pug
          &::before
            background-color var(--pug)
        &.parcel
          &::before
            background-color var(--parcel)
        &.svelte
          &::before
            background-color: var(--svelte)
        &.rollup
          &::before
            background-color: var(--rollup)
        &.netlify
          &::before
            background-color: var(--netlify)
        &.nodejs
          &::before
            background-color: var(--nodejs)
        &.express
          &::before
            background-color: var(--express)
        &.mongodb
          &::before
            background-color: var(--mongodb)
        &.mongoose
          &::before
            background-color: var(--mongoose)
        &.webpack
          &::before
            background-color: var(--webpack)

        // &.vanillajs
        //   background-color var(--vanillajs)
        //   color var(--vanillajs-front)
        // &.scss
        //   background-color var(--scss)
        //   color white
        // &.pug
        //   background-color var(--pug)
        //   color white
        // &.parcel
        //   background-color var(--parcel)
        //   color white
        // &.svelte
        //   background-color: var(--svelte)
        //   color white
        // &.rollup
        //   background-color: var(--rollup)
        //   color white
        // &.netlify
        //   background-color: var(--netlify)
        //   color white
        // &.nodejs
        //   background-color: var(--nodejs)
        //   color white
        // &.express
        //   background-color: var(--express)
        //   color white
        // &.mongodb
        //   background-color: var(--mongodb)
        //   color white
        // &.mongoose
        //   background-color: var(--mongoose)
        //   color white
        // &.webpack
        //   background-color: var(--webpack)
        //   color white
    .github
      position absolute
      top 18px
      right 18px
      a
        justify-self: start
        line-height 0
        svg
          height 35px
          width 35px
          background-color lightgrey
          stroke white
          border-radius 50%
          padding 4px
          transition all 0.3s
      &:hover
        svg
          stroke grey

footer
  padding 40px 0
  background-color var(--vanillajs-front)
  text-align center
  .wrapper
    padding 0
    a
      text-decoration none
      color var(--vanillajs)
      &:hover
        color var(--vanillajs-front)